$darkNav: #262f41;
$darkBg: #1a202c;
$white: #ffffff;

* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

body {

    background: $darkBg;
    color: $white;
}

.nav {
    border-radius: 50px;
    background-color: $darkNav;
    margin: 10px;
    padding: 10px;

    .nav-lists {
        display: flex;
        justify-content: space-around;
        // text-indent: 50px;
        list-style-type: none;

        .nav-items {
            margin: 4px;
        }

        .nav-text {
            color: $white;
            text-decoration: none;
        }

        .nav-text:hover {
            color: red;
        }
    }
}

.home {
    .hero {
        display: flex;
        margin: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .container {
        max-width: 700px;
        width: 100%;
        margin: auto;
        height: 10vh;
        align-items: center;
        justify-content: center;

        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;

    }
}