$darkNav: #262f41;
$darkBg: #1a202c;
$white: #ffffff;
$greenx: rgb(0, 255, 170);
$lightin: #c0cad9;
$lightin2: #c4cfde;

* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

body {
  background: $darkBg;
  color: $white;
}

.link {
  color: white;
}

.link:hover {
  color: red;
}

.nav {
  border-radius: 50px;
  background-color: $darkNav;
  margin: 10px;
  padding: 10px;

  .nav-lists {
    display: flex;
    justify-content: space-around;
    // text-indent: 50px;
    list-style-type: none;

    .nav-items {
      margin: 4px;
    }

    .nav-text {
      user-select: none;
      color: $white;
      text-decoration: none;
    }

    .nav-text:hover {
      color: red;
    }
  }
}

.home {
  .hero {
    display: flex;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .container {
    max-width: 700px;
    width: 100%;
    margin: auto;
    height: 10vh;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

.nopage {
  .info {
    display: flex;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .container {
    max-width: 700px;
    width: 100%;
    margin: auto;
    height: 10vh;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

.about {
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;

  .about-title {
    font-weight: bold;
    color: $lightin;
  }

  .about-section {
    justify-content: center;
    color: $white;

    .description {
      font-size: 16px;
      line-height: 30px;
      color: $lightin2;
      padding-right: 30%;
      padding-left: 30%;
      opacity: 0.9;
    }

    p {
      text-align: center;
    }

    .name {
      color: crimson;
    }
  }
}