$darkNav: #262f41;
$darkBg: #1a202c;
$white: #ffffff;

html,
html *,
body,
body * {
    cursor: none;
}

* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

body {

    background: $darkBg;
    color: $white;
}

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
    width: 10px;
    height: 10px;
    background-color: #b83030f1;
}

.cursor-dot-outline {
    width: 20px;
    height: 20px;
    background-color: rgba(211, 115, 115, 0.959);
}

.nav {
    border-radius: 50px;
    background-color: $darkNav;
    margin: 10px;
    padding: 10px;

    .nav-lists {
        display: flex;
        justify-content: space-around;
        // text-indent: 50px;
        list-style-type: none;

        .nav-items {
            margin: 4px;
        }

        .nav-text {
            color: $white;
            text-decoration: none;
        }
    }
}

.home {
    .hero {
        display: flex;
        margin: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .container {
        max-width: 700px;
        width: 100%;
        margin: auto;
        height: 10vh;
        align-items: center;
        justify-content: center;

        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;

    }
}